div,
form,
label,
input,
button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-grid {
  position: relative;
  display: grid;
  height: 100%;
  width: 90vw;
  margin: 10px auto;
  grid-gap: 5px;
  grid-template-areas:
    "label input"
    "button button";
}

label {
  grid-area: label;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 2px;
  color: #28334a;
  font-size: 120%;
  text-shadow: 2px 1px #e3d8d8;
}

input {
  grid-area: input;
  font-family: "PT Sans", sans-serif;
  text-align: left;
}

.big-text {
  height: 50px;
  text-align: left;
  font-family: "PT Sans", sans-serif;
}

button {
  grid-area: button;
  font-family: "PT Sans Narrow", sans-serif;
}

.post-to-table {
  background-color: #f4af11;
  border-radius: 50px 30px;
}

.post-to-table:hover {
  color: #ffffff;
  box-shadow: 5px 5px 8px #888888;
}
