* {
  text-align: center;
}

h1 {
  font-family: "Courgette", cursive;
  background-color: #28334a;
  color: #ffffff;
  font-stretch: expanded;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-style: groove;
  border-color: #ffa500;
  font-size: 28px;
}
