img {
  max-width: 75%;
  height: auto;
  margin: 20px;
  transition: transform 0.2s;
  border-style: groove;
  border-color: #ffa500;
}

img:hover {
  transform: scale(1.1);
}

.images {
  display: inline-block;
}

.airplane {
  display: none;
}

@media screen and (min-width: 768px) {
  .airplane {
    display: inline-block;
    max-width: 75%;
    height: auto;
  }
}
