* {
  text-align: center;
}

body::before {
  content: "";
  background-image: url("https://bit.ly/3nOjA2b");
  background-size: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

body {
  background-color: #f0c0a6;
  position: relative;
}

nav {
  padding: 10px;
  margin: 10px;
  position: relative;
}

.link {
  position: relative;
  margin: 10px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.3em;
  text-shadow: 2px 1px #e3d8d8;
  text-decoration: none;
}

.link:hover {
  position: relative;
  color: #ffffff;
  text-shadow: 2px 1px #000000;
}
