* {
  text-align: center;
}

.App {
  background-color: #f5f2d0;
}

nav {
  padding: 10px;
  margin: 10px;
}

.link {
  margin: 10px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.3em;
}
