* {
  text-align: center;
}

/* Useful online resource for how I did my background image: https://coder-coder.com/background-image-opacity/ */

body::before {
  content: "";
  background-image: url("./Clouds-Background-HD.jpg");
  background-size: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

body {
  background-color: #f0c0a6;
  position: relative;
}

nav {
  padding: 10px;
  margin: 10px;
  position: relative;
}

.link {
  position: relative;
  margin: 10px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.3em;
  text-shadow: 2px 1px #e3d8d8;
  text-decoration: none;
}

.link:hover {
  position: relative;
  color: #ffffff;
  text-shadow: 2px 1px #000000;
}

footer {
  margin: 20px auto;
  width: 200px;
  font-size: 50%;
}

h4 {
  background-color: #28334a;
  color: #ffffff;
  font-stretch: expanded;
  margin: 0 auto;
  padding: 2px;
  width: 100%;
  height: auto;
  border-style: groove;
  border-color: #ffa500;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  text-shadow: 2px 1px #b87878;
}
